<section class="container" [style.background-image]="'url(/assets/' + background +  ')'" #container>
  <section class="left">
    <div class="title-container">
      <div class="title">Weather App</div>
      <div class="curved-line"></div>
    </div>

    <div class="status">
      <span id="status">Status</span>
      <div class="status-container">
        <div class="percent">
          <mat-icon aria-hidden="false" aria-label="arrow icon" fontIcon="arrow_upward" id="up"></mat-icon>
          <span id="percent-info">{{humidity}}%</span>
        </div>

      </div>
      <div class="more-details">
        <a mat-button href="" id="more-details-btn">More details</a>
        <mat-icon aria-hidden="false" aria-label="chevron_right icon" fontIcon="chevron_right" id="chevron_right"
          class="chevron_right"></mat-icon>
      </div>
    </div>

    <section class="area">
      <div class="select-area">
        <span id="area">
          Select an area
        </span>

        <div class="globe-image">
          <img [src]="globe" alt="select an area" class="globe globe1">
          <img [src]="globe" alt="select an area" class="globe globe2">
          <img [src]="globe" alt="select an area" class="globe globe3">
        </div>

      </div>

      <div class="world-image"></div>

      <div class="btn-container">
        <button class="city-btn">{{actualCity}}</button>
      </div>


    </section>
  </section>
  <section class="right" [ngClass]="{'light': !isDark, 'dark': isDark}">
    <section class="meteo-info">
      <div class="main-infos">
        <div class="left-section">
          <div class="lieu" >
            <mat-icon aria-hidden="false" aria-label="location_on icon" fontIcon="location_on"
              id="location_on"></mat-icon>
            <span>{{actualCity}} ({{date | date}})</span>
          </div>

          <div class="temperatures">
            <div class="main">
              <span  id="main">{{temp}} &#176;</span>
            </div>

            <div class="min-and-max" style="color: black;">
              <div class="high">
                <span>H </span>
                <span>{{max}} &#176;</span>
              </div>
              <div class="low">
                <span>L </span>
                <span>{{min}} &#176;</span>
              </div>
            </div>
          </div>

          <div class="meteo-description">
            <span id="meteo-description">
              {{meteoDescription}}
            </span>
          </div>
        </div>
<!-- 
        <div class="right-section">

          <div class="icons">
            <button aria-label="icon button with a search icon" id="search-btn">
              <mat-icon id="search">search</mat-icon>
            </button>

            <button id="download-btn">
              Download the app
            </button>
          </div>

          <div class="accroche">
            <p>
              With real time data and advanced technology,
              we provide reliable forecasts for any location around the world
            </p>
          </div>

          <div class="recent-searches">
            <div class="top-box">
              <div class="white_text">
                <p>
                  Recently searched
                </p>
  
              </div>
  
              <div class="white_text div-link">
                <p id="see-all">
                  See All
                </p>
  
                <mat-icon aria-hidden="false" aria-label="chevron_right icon" fontIcon="chevron_right"
                  class="chevron_right"></mat-icon>
  
              </div>
            </div>
  

            <div class="bottom-box">
              <div class="card-meteo-infos">
                <div class="temp-and-icon">
                  <div class="temp">18&#176;</div>
                  <div class="meteo-icon">
                    <mat-icon aria-hidden="false" aria-label="meteo icon" svgIcon="rainy"></mat-icon>
                  </div>
                </div>
                <div class="town">{{actualCity}}</div>
                <div class="description town">{{meteoDescription}}</div>
              </div>

              <div class="card-meteo-infos">
                <div class="temp-and-icon">
                  <div class="temp">18&#176;</div>
                  <div class="meteo-icon">
                    <mat-icon aria-hidden="false" aria-label="meteo icon" svgIcon="rainy"></mat-icon>
                  </div>
                </div>
                <div class="town">{{actualCity}}</div>
                <div class="description town">{{meteoDescription}}</div>
              </div>
              
            </div>
          </div>


        </div> -->



      </div>
    </section>

    <section class="week-infos">

    </section>
  </section>
</section>